body {
    font-family: "Lexend", sans-serif;
    align-items: center;
    background-color: #f4f4f4;    
    display: flex;
    height: 90vh;
    justify-content: center;
}

.menu {
    padding: 0;
    width: 120px;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: auto;
    list-style: none;
}

.menu li:hover {
    background: #ddd;
    border-radius: 12px;
}

.menu li a:focus {
    background: #ff6347;
    border-radius: 12px;
    border: none;
    border-color: aqua;
}

.menu li a {
    color: black;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    gap: 5px;
    padding: 10px;
    align-items: center;
    
}
